In [1]:
import findspark
findspark.init()

In [7]:
import numpy as np
import pandas as pd

In [11]:
user_profile = pd.read_csv('C:/Users/Admin/Downloads/Music-Recommender-last.fm-master/Music-Recommender-last.fm-master/lastfm-dataset-360k-small/merged-subset.csv', encoding = "ISO-8859-1")

In [12]:
user_profile.head()

,Unnamed: 0,userId,artistId,artist,plays,gender,age,country,signupDate
0,249130,03b9c645bc4f578ea1dcb6a975e7ea71fab79da2,a16371b9-7d36-497a-a9d4-42b0a0440c5e,slowdive,108,m,28.0,Germany,"Sep 16, 2006"
1,16103327,ee48ac7de691d31176a2843d0f2f8f49cab78e6d,5a24bc1a-c093-4a82-84ed-8d7f2da0570d,skinny puppy,407,m,NaN,Canada,"Dec 14, 2006"
2,12079167,b2e3d27a00fc3035edb439b14e6d30bcb6dddf69,68f1175b-592b-4f28-ab1c-85c7a438c636,turbonegro,91,m,29.0,United Kingdom,"Sep 23, 2005"
3,12210583,b4d4909255dc5bb404ff64866cac60164b465e9a,cfd3727e-7162-4e6a-a3f7-a59343ee6b8d,honey is cool,50,NaN,NaN,Denmark,"Dec 22, 2008"
4,7937614,758de8850b5a07875da1e23296e4021574be8596,3bb24e11-821a-4e4e-bd89-e0a2452474cf,useless id,108,m,25.0,Serbia,"Mar 15, 2009"

In [13]:
user_profile.columns

Index(['Unnamed: 0', 'userId', 'artistId', 'artist', 'plays', 'gender', 'age',
       'country', 'signupDate'],
      dtype='object')

In [14]:
user_profile['age'].max()

121.0

In [15]:
user_profile.describe()

         Unnamed: 0        plays          age
count  1.000000e+04  10000.00000  7960.000000
mean   8.648991e+06    220.75430    25.374497
std    4.974252e+06    472.69102     9.683979
min    7.692000e+03      1.00000     1.000000
25%    4.350924e+06     35.00000    20.000000
50%    8.618822e+06     95.00000    23.000000
75%    1.291075e+07    227.00000    28.000000
max    1.730761e+07  12558.00000   121.000000

In [16]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
Unnamed: 0    10000 non-null int64
userId        10000 non-null object
artistId      10000 non-null object
artist        10000 non-null object
plays         10000 non-null int64
gender        9092 non-null object
age           7960 non-null float64
country       10000 non-null object
signupDate    10000 non-null object
dtypes: float64(1), int64(2), object(6)
memory usage: 703.2+ KB

In [17]:
user_profile['gender'].value_counts()

m    6756
f    2336
Name: gender, dtype: int64

In [18]:
user_profile['country'].value_counts()

United States            1863
Germany                   847
United Kingdom            829
Poland                    546
Russian Federation        528
                         ...
Kiribati                    1
Mongolia                    1
Sao Tome and Principe       1
Wallis and Futuna           1
Somalia                     1
Name: country, Length: 146, dtype: int64

In [23]:
user_profile['signupDate'].value_counts()

May 4, 2007     23
Jan 23, 2008    22
Nov 17, 2008    20
Feb 1, 2009     19
Jan 6, 2009     18
                ..
Aug 7, 2009      1
Sep 27, 2004     1
Dec 16, 2004     1
Aug 24, 2004     1
Oct 20, 2004     1
Name: signupDate, Length: 1759, dtype: int64